body {
  margin: 0;
  font-family: sans-serif;
  overflow-y: scroll;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: 0.2s;
  &.light {
    background-color: lightblue;
  }
  &.dark {
    background-color: darkblue;
  }
}

.link {
  padding: 20px;
  background-color: gray;
  text-decoration: none;
  color: white;
  &:first-child {
    margin-right: 10px;
  }
  &.active {
    color: black;
  }
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  transition: 0.2s;
  &.light {
    background-color: white;
  }
  &.dark {
    background-color: #292b2c;
  }
  &__black {
    background-color: black;
  }
}

.button {
  margin-left: 10px;
  background-color: black;
  color: white;
}
