@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {
  @include ag-theme-alpine((
    alpine-active-color: rgba(0,0,0, 0.1),
    foreground-color: #0f607e,
  ));
  .ag-header {
    // or write CSS selectors to make customisations beyond what the parameters support
    color: white;
  }
  .ag-root-wrapper {
    border-width: 0;
    border-top-width: .1rem;
    // border-radius: 1.4rem;
  }
}
